*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth !important
}

html {
	font-size: 62.5%
}

::-moz-selection {
	background-color: #43a047;
	color: #ffff
}

::selection {
	background-color: #43a047;
	color: #ffff
}

body {
	padding: 2rem 10vw;
	padding-bottom: 10rem
}

@media only screen and (max-width: 800px) {
	body {
		padding: 2rem 0;
		padding-bottom: 0
	}
}

@font-face {
	font-family: Colus;
	src: url("/css/fonts/Colus-Regular.woff2")
}

@font-face {
	font-family: Building;
	src: url("/css/fonts/Building_Typeface.ttf")
}

body {
	font-family: 'Roboto', sans-serif
}

.p {
	font-size: 2rem;
	font-family: 'Roboto'
}

.h1 {
	font-size: 4rem;
	font-family: Colus
}

.h2 {
	font-size: 3rem;
	font-family: Colus
}

.madeby {
	padding-top: 1rem;
	font-family: Colus
}

.me {
	font-size: 1rem;
	background-image: linear-gradient(150deg, #43a047, #43a047);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent
}

.u-center-margin {
	margin: 0 auto !important
}

.u-margin-top-large {
	margin-top: 5rem !important
}

.u-margin-top-medium {
	margin-top: 3.5rem !important
}

.u-margin-top-small {
	margin-top: 1.5rem !important
}

.u-margin-bottom-large {
	margin-bottom: 5rem !important
}

.u-margin-bottom-medium {
	margin-bottom: 3.5rem !important
}

.u-margin-bottom-small {
	margin-bottom: 1.5rem !important
}

.u-center-flex {
	display: flex !important;
	align-items: center !important;
	flex-direction: column !important
}

.u-paddingY-medium {
	padding: 3rem
}

@media only screen and (max-width: 800px) {
	.u-margin-bottom-large {
		margin-bottom: 3rem !important
	}

	.u-margin-bottom-medium {
		margin-bottom: 1.5rem !important
	}

	.u-margin-bottom-small {
		margin-bottom: .5rem !important
	}
}

.chart {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: 5rem;
	text-align: center;
	border-radius: 15px;
	background: linear-gradient(-215deg, #C1C3C6, #fff);
	box-shadow: 30px 30px 60px #cacaca, -30px -30px 60px #f6f6f6;
	padding: 1rem 2rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all .3s linear;
	transform-origin: center
}

.chart__info {
	font-size: 1.5rem
}

.chart__value {
	display: inline;
	font-size: 2rem;
	transition: all .1s linear .2s;
	background-image: linear-gradient(150deg, #81c784, #1b5e20);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent
}

.chart__value-container {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	transition: all .2s linear;
	margin-left: 2rem
}

.chart:hover {
	transform: scale(1.2) translateY(-5px)
}

.navbar {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center
}

.navbar__elem {
	padding: 1rem 3rem;
	border-radius: 10px;
	font-size: 1.5rem;
	text-align: center;
	vertical-align: middle;
	transition: all 0.2s linear
}

.navbar__elem:hover,
.navbar__elem:focus {
	box-shadow: 30px 30px 60px #bebebe, -30px -30px 60px #ffffff;
	transform: translateY(-5px);
	cursor: pointer
}

.navbar__elem:active,
.navbar__elem:link,
.navbar__elem:visited {
	text-decoration: none;
	color: black
}

.navbar__logo {
	width: 7.5rem;
	height: 5.5rem;
	border-radius: 10px;
	transition: all 0.2s linear
}

.navbar__logo:hover {
	transform: scale(1.5);
	cursor: pointer
}

.navbar__left-container {
	float: left
}

.navbar__right-container {
	width: 40%;
	float: right;
	display: flex;
	justify-content: space-between
}

@media only screen and (max-width: 1200px) {
	.navbar__right-container {
		width: auto
	}
}

@media only screen and (max-width: 600px) {
	.navbar__right-container {
		display: none
	}
}

.btn {
	padding: 1rem 3rem;
	border-radius: 10px;
	font-size: 2.5rem
}

.btn:active,
.btn:link,
.btn:visited {
	text-decoration: none
}

.btn--simple {
	background: #e0e0e0;
	box-shadow: 3rem 3rem 6rem #cacaca, -1rem -1rem 6rem #f6f6f6;
	transition: all .1s linear
}

.btn--simple:hover {
	box-shadow: 4rem 3rem 6rem #cacaca, -1rem -1rem 6rem #f6f6f6;
	transform: translateY(-5px) scale(1.05);
	cursor: pointer
}

.btn--simple:active,
.btn--simple:link,
.btn--simple:visited {
	color: black
}

.composition {
	position: relative
}

.composition__photo {
	width: 45%;
	box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
	border-radius: 2px;
	position: absolute;
	z-index: 10;
	transition: all .2s;
	outline-offset: 2rem
}

.composition__photo--p1 {
	left: 0;
	top: -3rem
}

.composition__photo--p2 {
	right: 3rem;
	top: 2rem
}

.composition__photo--p3 {
	left: 10%;
	top: 10rem
}

.composition__photo:hover {
	outline: 1.5rem solid #43a047;
	transform: scale(1.05) translateY(-10px);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 20
}

.composition:hover .composition__photo:not(:hover) {
	transform: scale(0.95)
}

.purpose {
	border: 1px solid #43a047;
	box-shadow: 3rem 3rem 6rem #cacaca, -1rem -1rem 6rem #f6f6f6;
	text-align: center;
	border-radius: 5px;
	max-width: 60%;
	margin: 0 auto;
	padding: 3rem 6rem;
	z-index: 10;
	transition: all .3s linear
}

.purpose .h2 {
	color: #43a047;
	margin-bottom: 3rem
}

.purpose:hover {
	transform: scale(1.1) translateY(5px);
	box-shadow: 3rem 3rem 4rem #cacaca, -1rem -1rem 4rem #f6f6f6
}

@media only screen and (max-width: 1200px) {
	.purpose {
		max-width: 100%
	}
}

.contact-us {
	padding: 3rem 6rem;
	text-align: center;
	display: flex;
	flex-direction: column
}

.contact-us .h2 {
	color: #43a047;
	margin-bottom: 3rem
}

.contact-us__icons {
	margin: 0 auto;
	display: flex
}

.contact-us__icons .icon-button:not(:last-child) {
	margin-right: 2rem
}

.icon-button {
	border-radius: 5px;
	background: #e0e0e0;
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	width: 5rem;
	height: 5rem;
	position: relative;
	border: 1px solid black;
	transition: all .2s linear
}

.icon-button .h2 {
	color: #43a047
}

.icon-button svg {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.icon-button:hover {
	transform: scale(1.1) translateY(-5px);
	cursor: pointer;
	border-color: #43a047
}

.icon-button:hover svg {
	filter: invert(54%) sepia(10%) saturate(2823%) hue-rotate(73deg) brightness(96%) contrast(82%)
}

.Click-here {
	cursor: pointer;
	background-image: linear-gradient(190deg, #f83600 0%, #fee140 100%);
	color: #fff;
	width: 180px;
	text-align: center;
	font-size: 16px;
	padding: 18px 0;
	margin: 0 auto;
	transition: background-image 3s ease-in-out
}

.Click-here:hover {
	transition: background-image 3s ease-in-out;
	background-image: linear-gradient(90deg, #fee140 0%, #f83600 100%)
}

.custom-model-main {
	text-align: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-overflow-scrolling: touch;
	outline: 0;
	opacity: 0;
	transition: opacity 0.15s linear, z-index 0.15;
	z-index: -1;
	overflow-x: hidden;
	overflow-y: auto
}

.model-open {
	z-index: 99999;
	opacity: 1;
	overflow: hidden
}

.custom-model-inner {
	transform: translate(0, -25%);
	transition: transform 0.3s ease-out;
	display: inline-block;
	vertical-align: middle;
	width: 600px;
	margin: 30px auto;
	max-width: 97%
}

.custom-model-wrap {
	display: block;
	width: 100%;
	position: relative;
	background-color: #fff;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	outline: 0;
	text-align: left;
	padding: 20px;
	box-sizing: border-box;
	max-height: calc(100vh - 70px);
	overflow-y: auto
}

.model-open .custom-model-inner {
	transform: translate(0, 0);
	position: relative;
	z-index: 999
}

.model-open .bg-overlay {
	background: rgba(0, 0, 0, 0.6);
	z-index: 99
}

.bg-overlay {
	background: rgba(0, 0, 0, 0);
	height: 100vh;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	transition: background 0.15s linear
}

.close-btn {
	position: absolute;
	right: 0;
	top: -30px;
	cursor: pointer;
	z-index: 99;
	font-size: 30px;
	color: #fff
}

@media screen and (min-width: 800px) {
	.custom-model-main:before {
		content: "";
		display: inline-block;
		height: auto;
		vertical-align: middle;
		margin-right: -0px;
		height: 100%
	}
}

@media screen and (max-width: 799px) {
	.custom-model-inner {
		margin-top: 45px
	}
}

.pop-up-content-wrap {
	text-align: center;
	font-size: 3rem
}

.header {
	height: 70rem;
	padding: 5rem 5rem;
	display: flex;
	overflow: hidden
}

@media only screen and (max-width: 1200px) {
	.header {
		flex-direction: column;
		align-items: center
	}
}

@media only screen and (max-width: 800px) {
	.header {
		padding: 5rem 4rem;
		height: auto
	}
}

.header__h1 {
	font-size: 7rem;
	font-family: Building;
	background-image: linear-gradient(150deg, #81c784, #1b5e20);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	word-spacing: 1rem;
	letter-spacing: .2rem
}

.header__left {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center
}

@media only screen and (max-width: 1200px) {
	.header__left {
		width: 100%;
		height: 100%
	}
}

.header__left-content {
	display: flex;
	display: flex;
	flex-direction: column
}

.header__left-content .btn {
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content
}

.header__right {
	width: 50%
}

.header__right-img {
	width: 100%
}

@media only screen and (max-width: 1200px) {

	.header__right,
	.header__left {
		text-align: center;
		align-items: center
	}

	.header__left-content .btn {
		margin: 0 auto
	}
}

@media only screen and (max-width: 1200px) {
	.header__right {
		display: none;
		width: 0;
		height: 0
	}
}

.footer {
	margin-top: 10rem;
	border-top: solid #43a047 1px;
	text-align: center;
	padding-top: 5rem;
	font-size: 1.5rem
}

.data {
	height: 60rem;
	margin-top: 15rem;
	display: flex;
	align-items: center
}

.data .data__left {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	justify-content: space-around
}

.data .data__right {
	width: 50%;
	height: 100%
}

@media only screen and (max-width: 1200px) {
	.data .data__right {
		width: 0;
		height: 0;
		display: none
	}

	.data .data__left {
		width: 100%;
		height: 100%
	}
}
